
div#redtail-sync-status-container.sync-status-popup(style='display: none;')
  .sync-message
    p.bold Syncing data from Redtail...
    p Please do not refresh or close your browser.


  .progress(style='height: 6px;')
    .progress-bar#syncProgressBar(role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100' style='width: 0%;')
  

