// views/import/step_liabilityUpload.pug
div#liability-upload-step
  h4.import-modal-header.mb-3 Upload Liability File
  p.import-modal-subtext.mb-3.text-muted
    | Upload a CSV or Excel file containing liability data for one or more households.
  .upload-box.liability-upload-box#liability-file-dropzone
    span.upload-icon.material-symbols-outlined upload
    label.custom-upload-button(for='liability-file-input') Choose File
    .upload-box-text
      span.clickToUpload Click to upload
      span.or-text  or drag & drop files.

  // Progress
  .upload-progress.hidden#liability-upload-progress
    .progress
      div#liability-progress-bar.progress-bar.progress-bar-striped.progress-bar-animated(
        role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100',
        style='width:0%') 0%
    .file-details.mt-2
      img(src='/images/excel-file-icon.png', width='30')
      span#liability-uploaded-file-name.text-muted Uploading…




  .upload-completed.hidden#liability-upload-completed
    .d-flex.align-items-center
      .fileIconContainer
        img.fileCompletedIcon(src='/images/check_circle.png')
        img#completedFileIcon(src='/images/excel-file-icon.png', alt='File Icon', width='30', height='30', class='me-2')
      span#completedFileName.text-muted File Uploaded Successfully
    button#removeLiabilityFileButton.btn.btn-danger.btn-sm.ms-auto(type='button') Remove File

  input#liability-file-input(type='file', hidden, accept='.csv,.xlsx')
