div#beneficiary-mapping-step
  h4.import-modal-header Map Your Spreadsheet Columns for Beneficiary Import
  p.text-muted.import-modal-subtext
    | Please map each column from your file to the required or optional beneficiary fields.

div#beneficiary-mapping-fields-container


  div.d-flex.mb-4
    // Client ID
    div.required-field-card.border.p-3.me-3
      div.d-flex.align-items-center.mb-2.mapping-head-container
        i.fas.fa-id-card.fa-lg.me-2.text-primary
        h6.m-0 Client ID
      small.text-muted.mb-3.databox-sub.map-sub(d-block)
        | Used to link account to an existing Client record. Optional if account already exists
      select.form-select(name='clientId', data-required='false')
        option(value='') -- Select Column --

    // Account Number
    div.required-field-card.border.p-3
      div.d-flex.align-items-center.mb-2.mapping-head-container
        i.fas.fa-hashtag.fa-lg.me-2.text-success
        h6.m-0 Account Number
      small.text-muted.mb-3.databox-sub.map-sub(d-block)
        | Unique identifier for the account to which beneficiary data belongs.
      select.form-select(name='accountNumber', data-required='true')
        option(value='') -- Select Column --


  // Optional Fields (Add as many as needed)
  // Optional Fields (new simplified format)
  .row
    .col-md-6.mb-3
      label.form-label(for='beneficiaryName') Beneficiary Name
      select.form-select(name='beneficiaryName', data-required='true')
        option(value='') -- Select Column --
  
    .col-md-6.mb-3
      label.form-label(for='beneficiaryType') Beneficiary Type (Primary / Contingent)
      select.form-select(name='beneficiaryType', data-required='true')
        option(value='') -- Select Column --
  
    .col-md-6.mb-3
      label.form-label(for='beneficiaryPercentage') Beneficiary Percentage (%)
      select.form-select(name='beneficiaryPercentage', data-required='true')
        option(value='') -- Select Column --
  
    .col-md-6.mb-3
      label.form-label(for='beneficiaryRelationship') Beneficiary Relationship
      select.form-select(name='beneficiaryRelationship')
        option(value='') -- Select Column --
  