// step_accountOptions.pug

h4.mb-4.text-center.import-modal-header Choose Your Account Import Type
p.text-muted.text-center.import-modal-subtext
  | Please choose which type of account data you want to import.
p#account-options-disabled-help.helper-text.hidden

.row.g-3.mt-4.account-row
  // First row: 3 columns
  .col-md-4
    .data-option.account-option(data-account-type='general')
      .option-inner
        i.fas.fa-landmark.fa-3x.mb-2.account-option-icon
        h5.databox-head Financial Accounts
        p.databox-sub.text-muted.mt-1 401k, IRA, Checking, etc.

  .col-md-4
    .data-option.account-option(data-account-type='buckets')
      .option-inner
        .material-symbols-outlined.account-option-icon analytics
        h5.databox-head Buckets
        p.databox-sub.text-muted.mt-1 Bucket report fields

  .col-md-4
    .data-option.account-option(data-account-type='guardrails')
      .option-inner
        .material-symbols-outlined.account-option-icon add_road
        h5.databox-head Guardrails
        p.databox-sub.text-muted.mt-1 Guardrails report fields

.row.g-3.mt-4.account-row
  .col-md-4
    .data-option.account-option(data-account-type='beneficiaries')
      .option-inner
        i.fas.fa-user-check.fa-3x.mb-2.account-option-icon
        h5.databox-head Beneficiaries
        p.databox-sub.text-muted.mt-1 Beneficiary fields

  .col-md-4
    .data-option.account-option(data-account-type='liability')
      .option-inner
        i.fas.fa-hand-holding-usd.fa-3x.mb-2.account-option-icon
        h5.databox-head Liability
        p.databox-sub.text-muted.mt-1 Liability import

  .col-md-4
    .data-option.account-option(data-account-type='asset')
      .option-inner
        i.fas.fa-boxes.fa-3x.mb-2.account-option-icon
        h5.databox-head Physical Asset
        p.databox-sub.text-muted.mt-1 Tangible asset import

.row.g-3.mt-4.account-row
  .col-md-6.hidden
    .data-option.account-option(data-account-type='billing')
      .option-inners
        i.fas.fa-file-invoice-dollar.fa-3x.mb-2.account-option-icon
        h5.databox-head Billing Info
        p.databox-sub.text-muted.mt-1 Account billing fields


