extends layout

block title
  title Admin Notifications

block content
  h1 Create Notifications

  form(action="/admin/notifications", method="POST")
    div.mb-3
      label(for="userIds") Select Users:
      select(name="userIds", multiple, required)
        option(value="all") All Users
        each user in users
          option(value=user._id) #{user.companyName} (#{user.email})

    div.mb-3
      label(for="title") Title:
      input(type="text", name="title", required)

    div.mb-3
      label(for="message") Message:
      textarea(name="message")

    div.mb-3
      label(for="link") Link (optional):
      input(type="text", name="link")

    button.btn.btn-primary(type="submit") Send Notification

block scripts
  script(src="/js/adminNotifications.js")
  script(src='/js/appScript.js')
  script(src="/socket.io/socket.io.js")
   
      
