extends layout

block title
  title Admin Notifications

block content
  .container
    // Back to Dashboard Button
    .d-flex.justify-content-start.mb-3
      a.btn.btn-secondary(href="/admin") Back to Dashboard

    h1.text-center.mb-4 Create Notifications

    .card
      .card-body
        h5.card-title Send a Notification
        form(action="/admin/notifications", method="POST")
          .mb-3
            label.form-label(for="userIds") Select Users:
            select.select-users-container.form-select(name="userIds", multiple, required)
              option(value="all") All Users
              each user in users
                option(value=user._id) #{user.companyName} (#{user.email})

          .mb-3
            label.form-label(for="title") Title:
            input.form-control(type="text", name="title", required)

          .mb-3
            label.form-label(for="message") Message:
            textarea.form-control(name="message")

          .mb-3
            label.form-label(for="link") Link (optional):
            input.form-control(type="text", name="link")

          button.btn.btn-primary(type="submit") Send Notification

block scripts
  script(src="/js/adminNotifications.js")
  script(src='/js/appScript.js')
  script(src="/socket.io/socket.io.js")
